* {
  margin: 0;
  padding: 0;

}

body {
  background: #FABADA;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 2.5rem;
  color: #1a405f; 
}

.characterListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 2200px;
  margin: auto;
}

.characterContainer {
  background: #161b22;
  border-radius: 12px;
  padding: 20px;
  display: flex;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #213d5e;
}

.characterContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(255, 232, 31, 0.2);
}

.nombre {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #cc00ff;
}

.characterContainer p {
  font-size: 0.95rem;
  margin: 5px 0;
  color: #5d7a97;
}

button {
  display: flex;
  margin: 30px auto;
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  background: #f1de2c;
  color: black;
  font-weight: bold;
  
}

button:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(31, 255, 143, 0.2);
}



button:active {
  transform: scale(0.98);
}
