/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: #0d1117;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Título principal */
h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 2.5rem;
  color: #FABADA; /* amarillo Star Wars */
}

/* Contenedor general */
.characterListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Carta individual */
.characterContainer {
  background: #161b22;
  border-radius: 12px;
  padding: 20px;
  display: flex;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #30363d;
}

.characterContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(255, 232, 31, 0.2);
}

/* Nombre personaje */
.nombre {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #ffe81f;
}

/* Texto */
.characterContainer p {
  font-size: 0.95rem;
  margin: 5px 0;
  color: #c9d1d9;
}

/* Botón */
button {
  display: block;
  margin: 30px auto;
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #ffe81f;
  color: black;
  font-weight: bold;
  transition: background 0.2s ease, transform 0.1s ease;
}

button:hover {
  background: #0026ff;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
}
