.characterContainer {
  background: #000000;
  border-radius: 14px;
  padding: 20px;
  border: 1px solid #000000;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
  transition: all 0.25s ease;
}

.characterContainer:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(255, 200, 31, 0.2);
  border-color: #FABADA;
}

.nombre {
  font-size: 1.3rem;
  
  color: #98fc3c;
  margin-bottom: 10px;

}


.characterContainer p {
  font-size: 0.95rem;
  color: #FABADA;
  margin: 0;
}
